body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#slider,
.wrap,
.slide-content {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("../images/slide1.jpg");
}

.slide2 {
  background-image: url("../images/slide2.jpg");
}

.slide3 {
  background-image: url("../images/slide3.jpg");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 30px;
  padding: 0 20px;
  color: #f6bbbb;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 10px 15px 10px 0;
  border-color: transparent #f6bbbb transparent transparent;
  left: 0;
  margin-left: 1px;
}

#arrow-right {
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f6bbbb;
  right: 0;
  margin-right: 1px;
}

/*/ slider*/

/* about us*/

#about-us {
  width: 98%;
  min-height: 30vw;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

#about-us h3 {
  font-size: 18px;
  color: #f6bbbb;
  margin: 60px auto 15px auto;
}

#about-us h2 {
  font-size: 24px;
  color: #1d1d1d;
  margin: 0 auto;
}

#about-us p {
  color: #1d1d1d;
  font-size: 16px;
  margin: 15px 5px 60px 5px;
  line-height: 25px;
}

/* /about us*/

/* Skewed*/

#wrapper {
  position: relative;
  width: 100%;
  min-height: 55vw;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
  overflow: hidden;
}

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
}

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}

.layer img {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#wrapper h1 {
  font-size: 12px;
}
#wrapper p {
  font-size: 8px;
}

.bottom {
  background: #222;
  z-index: 1;
}

.bottom .content-body {
  right: 5%;
}

.bottom h1 {
  color: #f6bbbb;
}

.top {
  background: #595b67;
  color: #222;
  z-index: 2;
  width: 50vw;
}

.top .content-body {
  left: 5%;
  color: #222;
}

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #f6bbbb;
  width: 2px;
  top: 0;
  left: 50%;
  z-index: 3;
}

.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -2000px;
  width: calc(50vw + 2000px);
}

.skewed .top .content-wrap {
  transform: skew(30deg);
  margin-left: 2000px;
}

/* /Skewed*/

/* other sections */
.section,
.pimg1,
.pimg2,
.pimg3 {
  height: 100%;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 16px;
  color: #666;
}

.pimg1 {
  background-image: url("../images/pimg1.jpg");
  min-height: 300px;
}

.pimg2 {
  background-image: url("../images/pimg2.jpg");
  min-height: 200px;
}

.pimg3 {
  background-image: url("../images/pimg3.jpg");
  min-height: 200px;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* fixed = parallax, scroll = normal */
  background-attachment: fixed;
}

.section {
  text-align: center;
  padding: 40px 5px 50px 5px;
}
.section h2 {
  padding: 0;
  margin: 0;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 10px;
}

.ptext .border.trans {
  background-color: transparent;
}

.ptext .border.dark {
  color: #111;
}

/* Food Menu */
.food-menu {
  padding-bottom: 50px;
}
.grid-container {
  list-style-type: none;
  overflow: hidden;
  margin-right: -1%;
  margin-left: -1%;
}

.grid-column {
  float: left;
  width: 31.3%;
  padding: 1%;
}
.food-menu {
  margin-left: -40px;
}
.food-menu-img {
  width: 100%;
  height: auto;
  position: relative;
}

.food-menu-logo {
  position: absolute;
  display: inline-block;
  width: 16%;
  top: 14%;
  left: 42%;
}

.food-menu-item {
  position: relative;
  cursor: pointer;
}

.food-menu-item span {
  position: absolute;
  top: 30%;
  left: 36%;
  color: #d9d9d9;
}

.item-1 span {
  transition: transform 900ms ease-in-out;
}

.item-1:hover span {
  transform: scale(1.5, 1.5) translateY(20px);
}

.item-1:hover .item-1-frame {
  opacity: 1;
}

.item-1-frame {
  position: absolute;
  top: 8%;
  left: 8%;
  width: 83%;
  height: 81%;
  border: 2px solid #f6bbbb;
  z-index: 1;
  opacity: 0;
}

.item-1-frame p {
  color: #d9d9d9;
  padding-top: 60%;
}

.item-2-frame {
  position: absolute;
  top: 70%;
  left: 10%;
  z-index: 1;
  opacity: 0;
}

.item-2-frame .rectangular {
  position: absolute;
  width: 2px;
  height: 46%;
  background-color: #f6bbbb;
}

.item-2-frame p {
  color: #f6bbbb;
  font-size: 20px;
  padding-left: 13%;
  padding-bottom: 20%;
}

.item-2:hover .item-2-frame {
  opacity: 1;
}

.item-2 span {
  transition: transform 900ms ease-in-out;
}

.item-2:hover span {
  transform: scale(1.5, 1.5) translateX(-15%) translateY(80%);
}

.item-2:hover .food-menu-img {
  opacity: 0.7;
}

.item-3 .rectangular1 {
  top: 8%;
  left: 8%;
}

.item-3 .rectangular2 {
  top: 50%;
  right: 7%;
}

.item-3 .rectangular1,
.item-3 .rectangular2 {
  position: absolute;
  width: 0.5%;
  height: 0.5%;
  z-index: 1;
  opacity: 0;
  background-color: #f6bbbb;
  animation: myrectangular 2s ease-in-out 0s infinite;
  animation-direction: alternate;
}

@keyframes myrectangular {
  from {
    width: 1%;
  }
  to {
    width: 85%;
  }
}

.item-3:hover .rectangular1,
.item-3:hover .rectangular2 {
  opacity: 1;
}

/* /Food Menu */

/* Test Section */
.test {
  padding-bottom: 40px;
  text-align: center;
}
.test h2 {
  color: #666;
  margin: 30px auto 30px auto;
}

.menu-item {
  position: relative;
  margin: 15px auto 15px auto;
  text-align: center;
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fruits {
  background-image: url("../images/fruits.jpg");
}
.pasta {
  background-image: url("../images/pasta.jpg");
}
.steak {
  background-image: url("../images/steak.jpg");
}
.menu-logo {
  position: absolute;
  display: inline-block;
  width: 16%;
  top: 14%;
  left: 42%;
}

.fruits span {
  text-align: center;
  top: 30%;
  left: 30%;
  color: #d9d9d9;
  transition: transform 900ms ease-in-out;
}

.fruits:hover span {
  transform: scale(1.5, 1.5) translateY(20px);
}

.fruits:hover .first-frame {
  opacity: 1;
}

.first-frame {
  position: absolute;
  top: 8%;
  left: 8%;
  width: 83%;
  height: 81%;
  border: 2px solid #f6bbbb;
  z-index: 1;
  opacity: 0;
}

.first-frame p {
  color: #d9d9d9;
  padding-top: 60%;
}
/* /Test Section */

/* Media Queries*/

@media /* medium */ (min-width: 451px) {
  /* Header */
  .slide-content span {
    font-size: 40px;
    padding: 0 50px;
  }
  header #arrow-left {
    border-width: 15px 20px 15px 0;
    margin-left: 30px;
  }
  header #arrow-right {
    border-width: 15px 0 15px 20px;
    margin-right: 30px;
  }
  header .arrow {
    margin-top: -13px;
  }
  /* About us */
  #about-us {
    width: 98%;
    margin: 0 auto;
  }
  #about-us h2 {
    font-size: 20px;
  }
  #about-us h3 {
    font-size: 18px;
    margin: 40px auto 15px auto;
  }
  #about-us p {
    font-size: 16px;
    margin: 15px auto 50px auto;
  }
  /* Skewed */
  #wrapper h1 {
    font-size: 16px;
  }
  #wrapper p {
    font-size: 10px;
  }
  /* other sections */
  .section,
  .pimg1,
  .pimg2,
  .pimg3 {
    font-size: 12px;
    line-height: 18px;
  }
  .pimg1 {
    min-height: 550px;
  }
  .pimg2 {
    min-height: 250px;
  }
  .pimg3 {
    min-height: 250px;
  }
  .section {
    padding: 80px 30px 100px 30px;
  }
  .ptext {
    font-size: 22px;
    letter-spacing: 5px;
  }
  .ptext .border {
    padding: 15px;
  }
  /* Test section */
  .test {
    padding-bottom: 50px;
    text-align: center;
  }
  .test h2 {
    margin: 60px auto 40px auto;
  }

  .menu-item {
    width: 400px;
    height: 400px;
    margin: 50px auto 50px auto;
  }
}
@media /* large */ (min-width: 769px) {
  /* Header */
  .slide-content span {
    font-size: 60px;
  }
  /* About us */
  #about-us {
    width: 80%;
    margin: 0 auto;
  }
  #about-us h2 {
    font-size: 35px;
  }
  #about-us h3 {
    font-size: 22px;
    margin: 80px auto 15px auto;
  }
  #about-us p {
    font-size: 18px;
    margin: 25px auto 60px auto;
  }
  /* Skewed */
  #wrapper h1 {
    font-size: 20px;
  }
  #wrapper p {
    font-size: 14px;
  }
  .handle {
    width: 3.5px;
  }
  /* other sections */
  .section,
  .pimg1,
  .pimg2,
  .pimg3 {
    font-size: 14px;
    line-height: 24px;
  }
  .pimg1 {
    min-height: 650px;
  }
  .pimg2 {
    min-height: 350px;
  }
  .pimg3 {
    min-height: 350px;
  }
  .section {
    padding: 90px 50px 110px 50px;
  }
  .ptext {
    font-size: 24px;
    letter-spacing: 6px;
  }
  .ptext .border {
    padding: 17px;
  }
  /* Test section */
  .test {
    padding-bottom: 80px;
    text-align: center;
  }
  .test h2 {
    margin: 80px auto 60px auto;
  }
  .menu-wrap {
    display: flex;
    justify-content: space-around;
  }
  .menu-item {
    width: 250px;
    height: 250px;
  }
}
@media /* extra-large */ (min-width: 1025px) {
  /* Header */
  .slide-content span {
    font-size: 90px;
    padding: 0 90px;
  }
  header #arrow-left {
    border-width: 25px 35px 25px 0;
    margin-left: 30px;
  }
  header #arrow-right {
    border-width: 25px 0 25px 35px;
    margin-right: 30px;
  }
  header .arrow {
    margin-top: -19px;
  }
  /* About us */
  #about-us {
    width: 80%;
    max-width: 1000px;
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
    overflow: hidden;
  }
  #about-us h2 {
    font-size: 40px;
  }
  #about-us h3 {
    font-size: 28px;
    margin: 80px auto 15px auto;
  }
  #about-us p {
    font-size: 18px;
    margin: 25px auto 60px auto;
  }
  /* Skewed */
  #wrapper h1 {
    font-size: 24px;
  }
  #wrapper p {
    font-size: 18px;
  }
  .handle {
    width: 5px;
  }
  /* other sections */
  .section,
  .pimg1,
  .pimg2,
  .pimg3 {
    font-size: 16px;
    line-height: 28px;
  }
  .pimg1 {
    min-height: 750px;
  }
  .pimg2 {
    min-height: 400px;
  }
  .pimg3 {
    min-height: 400px;
  }
  .section {
    padding: 100px 80px 130px 80px;
  }
  .ptext {
    font-size: 27px;
    letter-spacing: 8px;
  }
  .ptext .border {
    padding: 20px;
  }
  /* Test section */
  .test {
    padding-bottom: 100px;
  }
  .test h2 {
    margin: 60px auto 60px auto;
  }
  .menu-item {
    width: 300px;
    height: 300px;
  }
}
