* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
}

.slider {
  position: relative;
}

.slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("../images/slide1.jpg");
}

.slide2 {
  background-image: url("../images/slide2.jpg");
}

.slide3 {
  background-image: url("../images/slide3.jpg");
}

.slide-content {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.slide-content h1 {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-size: 30px;
  box-sizing: border-box;
  padding: 0 20px;
  color: #f6bbbb;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 1;
}

#arrow-left {
  border-width: 10px 15px 10px 0;
  border-color: transparent #f6bbbb transparent transparent;
  left: 0;
  margin-left: 1px;
}

#arrow-right {
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f6bbbb;
  right: 0;
  margin-right: 1px;
}

/*/ slider*/

/* Hamburger Menu */

.hamburger-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.hamburger {
  position: absolute;
  margin-top: 6%;
  right: 9%;
  cursor: pointer;
  z-index: 2;
}

.hamburger .line {
  width: 40px;
  height: 2px;
  display: block;
  background-color: #f6bbbb;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
  background-color: white;
  transform: translateY(10px) rotate(45deg);
  -o-transition: translateY(10px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
  background-color: white;
  transform: translateY(-10px) rotate(-45deg);
  -o-transition: translateY(-10px) rotate(-45deg);
}

/* /Hamburger Menu */

/* Menu Takeover */

.menu-takeover {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: #f6bbbb;
}

.menu-content {
  position: absolute;
  top: 20%;
  left: 21%;
  list-style-type: none;
  font-size: 24px;
  color: #fff;
}

.menu-component {
  border-bottom: 1px dotted #fff;
  padding: 20px 5px;
  cursor: pointer;
}

.menu-component:hover {
  opacity: 0.7;
}

/* /Menu Takeover */

/* about us*/

.about-us {
  width: 98%;
  min-height: 30vw;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.about-us h3 {
  font-size: 18px;
  color: #f6bbbb;
  margin: 60px auto 15px auto;
}

.about-us h2 {
  font-size: 24px;
  color: #1d1d1d;
  margin: 0 auto;
}

.about-us p {
  color: #1d1d1d;
  font-size: 16px;
  margin: 15px 5px 60px 5px;
  line-height: 25px;
}

/* /about us*/

/* Skewed*/

.skewed {
  position: relative;
  width: 100%;
  min-height: 55vh;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 55vh;
  overflow: hidden;
}

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 55vh;
}

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}

.layer img {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skewed h3 {
  font-size: 12px;
}

.skewed p {
  font-size: 8px;
}

.bottom {
  background: #222;
  z-index: 1;
}

.bottom .content-body {
  right: 5%;
}

.bottom h3 {
  color: #f6bbbb;
}

.top {
  background: #595b67;
  color: #222;
  z-index: 2;
  width: 50vw;
}

.top .content-body {
  left: 5%;
  color: #222;
}

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #f6bbbb;
  width: 2px;
  top: 0;
  left: 50%;
  z-index: 3;
}

.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -2000px;
  width: calc(50vw + 2000px);
}

.skewed .top .content-wrap {
  transform: skew(30deg);
  margin-left: 2000px;
}

/* /Skewed*/

/* other sections */

.section-dark,
.find-taste,
.buy-section,
.espresso {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 16px;
  color: #666;
}

.find-taste {
  background-image: url("../images/pimg1.jpg");
  min-height: 300px;
}

.buy-section {
  background-image: url("../images/pimg2.jpg");
  min-height: 200px;
}

.espresso {
  background-image: url("../images/pimg3.jpg");
  min-height: 200px;
}

.find-taste,
.buy-section,
.espresso {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* fixed = parallax, scroll = normal */
  background-attachment: fixed;
}

.section-dark h2 {
  padding: 0;
  margin: 0;
}

.section-dark {
  text-align: center;
  padding: 40px 5px 50px 5px;
  background-color: #282e34;
  color: #ddd;
}

.text-frame {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.text-frame .border {
  background-color: #111;
  color: #fff;
  padding: 10px;
}

.text-frame .border.trans {
  background-color: transparent;
}

.text-frame .border.dark {
  color: #111;
}

/* Test Section */

.food-menu {
  padding-bottom: 40px;
  text-align: center;
}

.food-menu h2 {
  color: #666;
  margin: 30px auto 30px auto;
}

.menu-item {
  position: relative;
  margin: 15px auto 15px auto;
  text-align: center;
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fruits {
  background-image: url("../images/fruits.jpg");
}

.pasta {
  background-image: url("../images/pasta.jpg");
}

.steak {
  background-image: url("../images/steak.jpg");
}

.menu-logo {
  position: absolute;
  display: inline-block;
  width: 16%;
  top: 14%;
  left: 42%;
}

.menu span {
  position: absolute;
  top: 30%;
  left: 30%;
  color: #d9d9d9;
}

.fruits span {
  transition: transform 900ms ease-in-out;
}

.fruits:hover span {
  transform: scale(1.5, 1.5) translateY(20px);
}

.fruits:hover .first-frame {
  opacity: 1;
}

.first-frame {
  position: absolute;
  top: 8%;
  left: 8%;
  width: 83%;
  height: 81%;
  border: 2px solid #f6bbbb;
  z-index: 1;
  opacity: 0;
}

.first-frame p {
  color: #d9d9d9;
  padding-top: 60%;
}

.second-frame {
  position: absolute;
  top: 51%;
  left: 9%;
  border-left: 1px #f6bbbb solid;
  height: 40%;
  z-index: 1;
  opacity: 0;
}

.second-frame p {
  color: #f6bbbb;
  font-size: 20px;
  padding-left: 6%;
  padding-bottom: 20%;
}

.pasta:hover .second-frame {
  opacity: 1;
}

.pasta span {
  transition: transform 900ms ease-in-out;
}

.pasta:hover span {
  transform: scale(1.5, 1.5) translateX(-12%) translateY(395%);
}

.pasta:hover {
  opacity: 0.7;
}

.steak .decor-line1 {
  top: 8%;
  left: 8%;
}

.steak .decor-line2 {
  top: 50%;
  right: 7%;
}

.steak .decor-line1,
.steak .decor-line2 {
  position: absolute;
  width: 0.5%;
  height: 0.5%;
  z-index: 1;
  opacity: 0;
  background-color: #f6bbbb;
  animation: mydecor 2s ease-in-out 0s infinite;
  animation-direction: alternate;
}

@keyframes mydecor {
  from {
    width: 1%;
  }
  to {
    width: 85%;
  }
}

.steak:hover .decor-line1,
.steak:hover .decor-line2 {
  opacity: 1;
}

/* /Test Section */

/* Footer */

.footer {
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 18px;
  text-align: center;
  overflow-x: hidden;
}

.footer-text-wrap {
  position: relative;
  width: 100%;
  height: 350px;
  margin: 0 auto;
}

.footer-nav {
  position: absolute;
  top: 12%;
  width: 100%;
  text-align: center;
  text-decoration-style: none;
}

.copyright {
  position: absolute;
  width: 100%;
  top: 90%;
  text-align: center;
  font-size: 10px;
}

.footer-nav-item {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  margin: 10px auto;
  cursor: pointer;
}

.crossed {
  position: absolute;
  top: 122%;
  left: -5%;
  width: 110%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
}

.footer-nav-item:hover .crossed {
  opacity: 1;
}

.socials {
  position: absolute;
  top: 65%;
  text-align: center;
  width: 100%;
}

.socials-item {
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  width: 30px;
  transition: transform 2000ms ease-in-out;
}

.socials-item:hover .footer-icon {
  transform: scale(1.5, 1.5);
}

/* /Footer */

/* Media Queries*/

@media
/* medium */

(min-width: 451px) {
  /* Header */
  .slide-content h1 {
    font-size: 40px;
    padding: 0 50px;
  }
  header #arrow-left {
    border-width: 15px 20px 15px 0;
    margin-left: 30px;
  }
  header #arrow-right {
    border-width: 15px 0 15px 20px;
    margin-right: 30px;
  }
  header .arrow {
    margin-top: -13px;
  }
  /* Hamburger menu */
  .hamburger {
    margin-top: 7%;
    right: 10%;
  }
  .hamburger .line {
    width: 45px;
    margin: 7px auto;
  }
  /* Menu takeover */
  .menu-takeover {
    width: 75%;
  }
  .menu-content {
    top: 20%;
    left: 20%;
    font-size: 26px;
  }
  .menu-component {
    padding: 15px;
  }
  /* About us */
  .about-us {
    width: 98%;
    margin: 0 auto;
  }
  .about-us h2 {
    font-size: 20px;
  }
  .about-us h3 {
    font-size: 18px;
    margin: 40px auto 15px auto;
  }
  .about-us p {
    font-size: 16px;
    margin: 15px auto 50px auto;
  }
  /* Skewed */
  .skewed h3 {
    font-size: 16px;
  }
  .skewed p {
    font-size: 10px;
  }
  /* other sections */
  .section-dark,
  .find-taste,
  .buy-section,
  .espresso {
    font-size: 12px;
    line-height: 18px;
  }
  .find-taste {
    min-height: 550px;
  }
  .buy-section {
    min-height: 250px;
  }
  .espresso {
    min-height: 250px;
  }
  .section-dark {
    padding: 80px 30px 100px 30px;
  }
  .text-frame {
    font-size: 22px;
    letter-spacing: 5px;
  }
  .text-frame .border {
    padding: 15px;
  }
  /* Test section */
  .food-menu {
    padding-bottom: 50px;
    text-align: center;
  }
  .food-menu h2 {
    margin: 60px auto 40px auto;
  }
  .menu-item {
    width: 400px;
    height: 400px;
    margin: 50px auto 50px auto;
  }
  .menu span {
    left: 36%;
  }
  .second-frame p {
    font-size: 24px;
    padding-left: 20%;
  }
  .pasta:hover span {
    transform: scale(1.5, 1.5) translateX(-14%) translateY(550%);
  }
  .second-frame {
    left: 8%;
    border-left: 2px #f6bbbb solid;
  }
  /* footer */
  .footer-nav-item {
    font-size: 18px;
  }
}

@media
/* large */

(min-width: 769px) {
  /* Header */
  .slide-content h1 {
    font-size: 60px;
  }
  /* Hamburger menu */
  .hamburger {
    top: 8%;
    right: 7%;
  }
  .hamburger .line {
    width: 50px;
    margin: 8px auto;
  }
  /* Menu takeover */
  .menu-takeover {
    width: 45%;
  }
  .menu-content {
    top: 25%;
    left: 25%;
  }
  /* About us */
  .about-us {
    width: 80%;
    margin: 0 auto;
  }
  .about-us h2 {
    font-size: 35px;
  }
  .about-us h3 {
    font-size: 22px;
    margin: 80px auto 15px auto;
  }
  .about-us p {
    font-size: 18px;
    margin: 25px auto 60px auto;
  }
  /* Skewed */
  .skewed h3 {
    font-size: 20px;
  }
  .skewed p {
    font-size: 14px;
  }
  .handle {
    width: 3.5px;
  }
  /* other sections */
  .section-dark,
  .find-taste,
  .buy-section,
  .espresso {
    font-size: 14px;
    line-height: 24px;
  }
  .find-taste {
    min-height: 650px;
  }
  .buy-section {
    min-height: 350px;
  }
  .espresso {
    min-height: 350px;
  }
  .section-dark {
    padding: 90px 50px 110px 50px;
  }
  .text-frame {
    font-size: 24px;
    letter-spacing: 6px;
  }
  .text-frame .border {
    padding: 17px;
  }
  /* Test section */
  .food-menu {
    padding-bottom: 80px;
    text-align: center;
  }
  .food-menu h2 {
    margin: 80px auto 40px auto;
  }
  .menu-wrapper {
    display: flex;
    justify-content: space-around;
  }
  .menu-item {
    width: 250px;
    height: 250px;
  }
  .menu span {
    left: 30%;
  }
  .second-frame p {
    font-size: 16px;
    padding-left: 17%;
  }
  .pasta:hover span {
    transform: scale(1.5, 1.5) translateX(-4%) translateY(350%);
  }
  /* footer */
  .footer-nav {
    top: 30%;
  }
  .footer-nav-item {
    font-size: 16px;
    margin: 0 35px;
    display: inline;
  }
}

@media
/* extra-large */

(min-width: 1025px) {
  /* Header */
  .hamburger-wrapper {
    max-width: 1200px;
  }
  .slide-content h1 {
    font-size: 90px;
    padding: 0 90px;
  }
  header #arrow-left {
    border-width: 25px 35px 25px 0;
    margin-left: 30px;
  }
  header #arrow-right {
    border-width: 25px 0 25px 35px;
    margin-right: 30px;
  }
  header .arrow {
    margin-top: -19px;
  }
  /* Hamburger menu */
  .hamburger {
    margin-top: 4%;
    right: 3%;
  }
  .hamburger .line {
    width: 55px;
    margin: 8px auto;
  }
  /* Menu takeover */
  .menu-takeover {
    width: 35%;
  }
  .menu-content {
    top: 27%;
    left: 11%;
    font-size: 30px;
  }
  .menu-component {
    padding: 20px;
  }
  /* About us */
  .about-us {
    width: 80%;
    max-width: 1000px;
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
    overflow: hidden;
  }
  .about-us h2 {
    font-size: 40px;
  }
  .about-us h3 {
    font-size: 28px;
    margin: 80px auto 15px auto;
  }
  .about-us p {
    font-size: 18px;
    margin: 25px auto 60px auto;
  }
  /* Skewed */
  .skewed h3 {
    font-size: 24px;
  }
  .skewed p {
    font-size: 18px;
  }
  .handle {
    width: 5px;
  }
  /* other sections */
  .section-dark,
  .find-taste,
  .buy-section,
  .espresso {
    font-size: 16px;
    line-height: 28px;
  }
  .find-taste {
    min-height: 750px;
  }
  .buy-section {
    min-height: 400px;
  }
  .espresso {
    min-height: 400px;
  }
  .section-dark {
    padding: 100px 80px 130px 80px;
  }
  .text-frame {
    font-size: 27px;
    letter-spacing: 8px;
  }
  .text-frame .border {
    padding: 20px;
  }
  /* Test section */
  .food-menu {
    padding-bottom: 100px;
  }
  .food-menu h2 {
    margin: 60px auto 40px auto;
  }
  .menu-item {
    width: 300px;
    height: 300px;
  }
  .menu-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .menu span {
    left: 32%;
  }
  .second-frame p {
    font-size: 17px;
  }
  .pasta:hover span {
    transform: scale(1.5, 1.5) translateX(-12%) translateY(450%);
  }
  /* footer */
  .footer-nav {
    top: 45%;
    width: 60%;
    transform: translateY(-50%);
  }
  .footer-nav-item {
    margin: 0 15px;
  }
  .socials {
    width: 40%;
    top: 45%;
    right: 0;
    transform: translateY(-50%);
  }
  .socials-item {
    margin: 0 45px;
  }
  .footer-text-wrap {
    max-width: 1300px;
  }
  .copyright {
    font-size: 12px;
    top: 80%;
  }
}